HELP.md
.gradle/
build/
bin/
out/

### Secrets & Configs ###
# 비밀번호나 API 키가 포함된 모든 설정 파일 차단
*.yml
*.yaml
# 단, 기본 설정 파일인 application.yaml 하나만 예외로 허용 (필요한 경우)
!src/main/resources/application.yaml
application-secret.yml
.env
secret.yml

### Artifacts ###
# 빌드 결과물인 jar, war 파일은 절대 올라가지 않도록 설정
*.jar
*.war

### IDE ###
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
.springBeans
.sts4-cache
.factorypath
.apt_generated